body{
    margin: 0;
    background-color: #f9dd8a;
}
header {
    background-color: #db2903;
    position: sticky;
    top: 0px;
    width: 100%;
    height: 135px;
    border-radius: 0;
    z-index: 1000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    margin-left: 10px;
    margin-top: 0px;
    background-image: url(../imagens1/fotor-ai-20231106194457-removebg-preview1.png);
    background-repeat: no-repeat;
    width: 150px;
    height: 135px;
    text-indent: -9999px;
}
a.head {
    height: 135px;
    width: 150px;
    display: block;
}
.direita {
    float: right;
}
main#pokedex {
    display: flex;
    column-gap: 10px;
    row-gap: 20px;
    flex-wrap: wrap;
    margin-left: 7px;
    justify-content: center;
    align-items: flex-start;
}
img.pokedex {
    margin-top: 10px;
}
div.container {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 325px;
    height: 300px;
    border: solid 6px #f2bf58;
    border-radius: 10%;
    padding-bottom: 100px;
    background-image: url(../imagens1/13.png);
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.arruma {
    padding: 0 30px
}
div.icones {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style-type: none;
    margin-right: 5px;
}
nav ul li.barra::after {
    content: " | ";
}
nav {
    margin-bottom: 40px;
    background-color: #feae4b;
    padding: 1px 0;
    position: static;
}
div.cabeca {
    padding-right: 50px;
}
.nav {
    text-decoration: none;
    font-size: 20px;
    color: #000;
}
.negrito {
    font-weight: bold;
}

/* estilização carrinho */

.cart-table {
    width: 70%;
    border-collapse: collapse;
}
.table-head-iten {
    text-align: start;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.second-col, .third-col {
    width: 26%;
}
.cart-product td {
    padding: 8px 0
}
.product-identification {
    display: flex;
    align-items: center;
}
.cart-product-image {
    width: 120px;
    height: 100%;
}
.cart-product-title {
    margin-left: 16px;
    font-size: 18px;
}
.cart-product-price {
    font-family: "Raleway", sans-serif;
}
.product-qtd-input {
    width: 48px;
    height: 34px;
    border-radius: 6px;
    border: 2px solid #22a4ba;
    text-align: center;
}
.remove-product-button {
    margin-left: 12px;
    background-color: #ff0000;
    color: #fff;
    padding: 10px 8px;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    transition: 0,2s;
}
.remove-product-button:hover {
    background-color: #920202;
}
.cart-total-container {
    border-top: 1px solid #000;
    text-align: end;
    padding: 6px 16px 0 0;
    font-size: 18px;
}
.cart-total-container strong {
    margin-right: 12px;
}
h2.titulo {
    text-align: center;
}
section.cart {
    margin-left: 50px;
}

/* estilizando o slider */

section.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}
.slider-content {
    width: 400%;
    height: auto;
    display: flex;
}
.slider-content input {
    display: none;
}
.slide-box {
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}
.slide-box img{
    width: 100%;
}
.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 35%;
    display: flex;
    justify-content: center;
}
.nav-manual .manual-btn, .nav-auto div {
    border: 1px solid #db2903;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;

}
.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child) {
    margin-right: 10px;
}
.nav-manual .manual-btn:hover, .nav-auto div:hover{
    background-color: #db2903;
}
#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3{
    background-color: #db2903;
}
#radio1:checked ~ .primeiro{
    margin-left: 0%;
}
#radio2:checked ~ .primeiro{
    margin-left: -25%;
}
#radio3:checked ~ .primeiro{
    margin-left: -50%;
}
/* estilização do index */
h2#abaixo-slider {
    margin-top: 70px;
}
/* estilizando o times.html */
main#times {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 5px;
}
th.times, td.times {
    border: 2px solid #f2bf58;
    margin: 0
}
div.t-container {
    width: 920px;
    margin-bottom: 30px;
}
.btn-detalhes {
    padding: 15px;
    margin-top: 10px;
    background-color: #ff0000;
    font-size: 18px;
    border-radius: 50px;
    cursor: pointer;
    color: white
}
.btn-detalhes:hover{
    background-color: #a80404;
    cursor: pointer;
}
a.link-time:link {
    text-decoration: none;
    
}
a.link-time:visited {
    color: white
}
th {
    background-color: #ff0000;
    color: white;
    padding: 10px 0;
    font-size: 25px;
}
